---
layout: default
title: "WISDOM"
---

<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>

<ul>
  <li><a href='https://userdyk-github.github.io/About%20me.html'>About me</a></li>
  <li><a href='https://userdyk-github.github.io/Lecture%20URL.html'>Lecture URL</a></li>
  <li><a href='https://userdyk-github.github.io/Research.html'>Research</a></li>
  <li><a href='https://userdyk-github.github.io/Study.html'>Study</a></li>
</ul>


<h2> Recent post </h2>

<div class="toc">
  <ul class="posts">
  {% for item in site.posts %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
<hr>
