<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/About%20me.html">ABOUT ME</a>
    <a class="sidebar-nav-item" href="/Materials.html">MATERIALS</a>
    <a class="sidebar-nav-item" href="/Programming.html">PROGRAMMING</a>
    <a class="sidebar-nav-item" href="/Research.html">RESEARCH</a>
    <a class="sidebar-nav-item" href="/Science.html">SCIENCE</a>
    <a class="sidebar-nav-item" href="/Study.html">ACADEMY</a>
  </nav>

    
    
  <div class="sidebar-item">
    <p>Currently v1.0 Distributed with an MIT license.</p>
  </div>
</div>
