<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="https://github.com/minicomp/ed" target="_blank">About me</a>
  <!--
    <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a>
    <script src="https://hypothes.is/embed.js" async></script>
  -->

  </nav>

  <div class="sidebar-item">
    <p>Currently v1.0 Distributed with an MIT license.</p>
  </div>
</div>
